.nav-header.collapse.navbar-collapse
  %ul.nav.navbar-nav
    %li{"ng-hide" => "signedIn()"}
      %a.nav-link{href: "#/login"} Log In
    %li{"ng-hide" => "signedIn()"}
      %a.nav-link{href: "#/register"} Register
    %li{"ng-show" => "signedIn()"}
      %a.nav-link{"ng-click" => "logout()"} 
        Log Out
        ({{ user.email }})
%flash-messages{flash: "flash"}
