html {
  background: linear-gradient(to bottom, #CBC7B4 40%, #946613 60%, #C4750B 100%);
  min-height: 100%;
}

body {
  background: transparent;
}

.center {
  text-align: center;
}

.p5 {
  padding: 5px;
}

li {
  list-style-type: none;
}

ul {
  list-style: none;
  padding-left: 0;
}