.project-item {
  background: white;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 0 0 10px 10px;
}

.project-head {
  vertical-align: middle;
  background: linear-gradient(#4D81BB, #3861A0);
}

.project-input {
  border: transparent;
  background: transparent;
  color: white;
  font-size: 18px;
  height: 50px;
  font-weight: bold;
}

.project-btn-del {
  border: transparent;
  background: transparent;
  color: white;
}

.project-btn-add {
  border: transparent;
  background: linear-gradient(#4D81BB, #3861A0);
  color: white;
}

.btn-symbol {
  background: transparent;
  font-size: 20px;
}

.proj-form {
  margin-bottom: 50px;
}